{
	admin off
	email {$ACME_EMAIL}
}

{$ZHIWO_DOMAIN} {
	encode zstd gzip
	request_body {
		max_size 64KB
	}
	header -Server
	reverse_proxy zhiwo:13081 {
		flush_interval -1
		health_uri /health/ready
	}
}
